<form id="tables_form" name="tables_form" method="post" action="">
  <p>Nombre: 
    <label for="name"></label>
  <input type="text" name="table[name]" id="name" />
  </p>

  <p>Centro_id: 
    <label for="center_id"></label>
    <input type="text" name="table[center_id]" id="center_id" />
  </p>
  <p>
    <input type="submit" name="button" id="button" value="Guardar" />
  </p>
</form>