<h1>Results in table <%= @table.id  %> from <%= @table.centre.name %></h1>
<% for runner in @table.runners %>
  <p>
    <strong><%= humanize runner.first %> </strong>: 
    <%= runner.second %>
  </p>
<% end %>

<img src="/public/images/table_graph.png" title="National Results" />