<div id="panes" class="centered">
  <h1>Made with love by us</h1>
  
  <img src="/public/images/us.jpg" title="Fork us on GitHub"/>
  
  <p>
    <a href="http://github.com/nhocki/tropicos2" title="Fork us on GitHub" >
      This is open source!
    </a>
  </p>
  
  <p>
    <a href="/country" >
      Go back!
    </a>
  </p>
</div>