<h1>Countries Index</h1>

<div class="description">
  <p>Feel free to explore each and every country we've got. They're all awesome!</p>
</div>

<div class="list">
  <ul>
    <% for c in @countries %>
      <li>Visit <%= al_garete c.name, countries_path(c) %> and it's <%= c.small_description %></li>
    <% end %>
  </ul>
</div>
