<!DOCTYPE HTML>
<html>
<head>
<title>Ballotox</title>

<script type="text/javascript" src="/public/scripts/public/jquery.min.js" ></script>
<script type="text/javascript" src="/public/scripts/application.js" ></script>

<link rel="stylesheet" href="/public/main.css" type="text/css" media="screen" title="Main CSS" charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Molengo&subset=latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Inconsolata&subset=latin' rel='stylesheet' type='text/css'>
<meta charset="UTF-8" />

</head>

<body>

  <div id="alert"> </div>

  <div id="fork-us">
    <a href="https://github.com/nhocki/tropicos3" target="_blank"><img src="/public/images/forkme.png"></img></a>
  </div>

  
  <div id="content">
    <div class="image-title">
      <a href="/">
        <img src = "/public/images/logo.png" alt="Ballotox">
      </a>
    </div>
    
    <div id="panes" class="centered">
      <%= yield %>
    </div>
    
  </div>
  
  <div id="graphs"> </div>
  <div id="footer">
    <a href="/about-us" title="About Us"><img src="/public/images/team.png" /></a>
    <p><a href="/about-us" title="About Us">About us</a></p>
    <p>Nicolás Hock Isaza - Juan Felipe Arango Aguirre - Sergio Botero Uribe. © 2010</p>
  </div>
</body>

</html>