<div id="panes" class="centered">
  <h1>Made with love by us</h1>
  
  <img src="/public/images/us.jpg" title="Fork us on GitHub"/>
  
  <p>
    <a href="http://github.com/nhocki/tropicos3" title="Fork us on GitHub" target="_blank">
      This super new version is also open source!
    </a>
  </p>
  
  <p>Thank's to <a href="https://github.com">GitHub</a> for hosting our stuff</p>
  
  <p>
    <a href="https://github.com" target="_blank">
      <img src="/public/images/octocat.png" />
    </a><br />
    <a href="https://github.com" target="_blank">
      <img src="/public/images/github_logo.png" />
    </a>
  </p>
  
  <p><a href="/">Back to index</a></p>
  
</div>