<h1>Hello there amigo!</h1>

<div id="navigation">
  
</div>

<div class="description">
  <p>Welcome, you've got to this wonderful place because <strong>you rock!</strong></p>
  
  <p>We invite you to watch <a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">this video</a> to see how this works.</p>
  
  <p>Now that you've seen the video and are totally up to date on how to use this magic tool, we invite you to navigate through the <%= al_garete "countries", countries_path %> that we've got.</p>
</div>