<h1>Hello there amigo!</h1>

<div id="navigation">
  
</div>

<div class="description">
  <p>Welcome, you've got to this wonderful place because you rock!</p>
  
  <p>We invite you to watch <a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">this video</a> to see how this works.</p>
</div>