<h1>States Index</h1>

<% for state in @states %>
  <p>
  <strong><%= state.name %></strong>
  <%= al_garete "View", states_path(state) %>
  <%= al_garete "Edit", edit_states_path(state) %>
  <%= al_garete "Destroy" , states_url(state), :class => "destroy-link", :id => "cnt-#{state.id}" %>
  </p>
<% end %>