<form id="centres_form" name="centres_form" method="post" action="">
  <p>Nombre: 
    <label for="name"></label>
  <input type="text" name="name" id="name" />
  </p>

  <p>Ciudad_id: 
    <label for="city_id"></label>
    <input type="text" name="city_id" id="city_id" />
  </p>
  <p>
    <input type="submit" name="button" id="button" value="Guardar" />
  </p>
</form>
