<div id="search-field">
  <form action="/states/fetch" id="fetch_country" method="post">
    <input type="text" id="country-key" name="country-key" size="50" placeholder="Enter the state key" > </input>
    <input type="submit" value="Cargar Datos" id="boton"></input>
  </form>
  <!-- <label for="country-key"> Ingresa el key</label> <br /> !-->      
</div>
<div class="loader"><p><img src="/public/images/108.gif" /></p><p>Cargando...</p></div>

<!--- 0AsTunpthKrMxdEp5R1loYjBBcVhNQWVEc1BUZmZ1QUE -->


<div id="nav">
  <ul> </ul>
</div>
<div id="panes">

  <h1>States Index</h1>

  <p>You've got here because you didn't provide a state key or the one you provided was invalid.</p>

  <p>If you need a key, feel free to use this one:
    <span class="sample-key">0AsTunpthKrMxdFBkeVZ0SzlDMWlDQ3I4MFZJZndMR1E</span>
  </p>
</div>